:root {
    --clr-green: hsl(75, 94%, 57%);
    --clr-white: hsl(0, 0%, 100%);


    --clr-gray-200: hsl(0, 0%, 70%);
    --clr-gray-700: hsl(0, 0%, 20%);
    --clr-gray-800: hsl(0, 0%, 12%);
    --clr-gray-900: hsl(0, 0%, 8%);

    --fs-100: 0.6875rem;
    --fs-400: 0.875rem;
    --fs-800: 1.75rem;

    --spacing-50: 0.5rem;
    --spacing-75: 0.75rem;
    --spacing-100: 1rem;
    --spacing-200: 1.5rem;
    --spacing-400: 2rem;
}

/* reset defaults */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: var(--clr-gray-900);
}

a {
    text-decoration: none;
    font: inherit;
}

/* layout design */
.site-wrapper {
    display: grid;
    grid-template-rows: auto 2rem;
    min-height: 100vh;
    min-width: fit-content;
}

footer {
    display: grid;
    place-items: center;
    text-align: center;
    color: var(--clr-white);
}

/* social card design */
.social-card {
    place-self: center;
    display: grid;
    gap: var(--spacing-200);
    margin: var(--spacing-100);
    background-color: var(--clr-gray-800);
    max-width: 368px;
    width: calc(100% - var(--spacing-100) * 2);
    min-width: min-content;
    text-align: center;
    color: var(--clr-white);
    border-radius: 1rem;
    font-size: var(--fs-400);
    padding: var(--spacing-400);
}

.social-card__header {
    display: grid;
    gap: var(--spacing-50);
}

.social-card__user-name {
    font-weight: 400;
    font-size: var(--fs-800);
}

.social-card__user-address {
    color: var(--clr-green);
    font-weight: 600;
}

.social-card__text {
    color: var(--clr-gray-200);
}

.social-card__links {
    display: grid;
    gap: var(--spacing-75);
    width: 100%;
}

.social-card__links > a {
    background-color: var(--clr-gray-700);
    font-weight: 700;
    padding-block: var(--spacing-100);
    color: var(--clr-white);
    border-radius: 0.5rem;
    transition: all 0.2s ease-in-out;
}

.social-card__links > a:hover {
    cursor: pointer;
    background-color: var(--clr-green);
    color: var(--clr-gray-900);
}

.social-card__user-photo {
    order: -1;
    justify-self: center;
    border-radius: 50%;
    overflow: hidden;
    width: 6rem;
    aspect-ratio: 1;
}

@media (max-width: 400px) {
    .social-card {
        padding: var(--spacing-200);
    }
}

/* attribution */
.attribution {
    font-size: 0.6875rem;
    text-align: center;
}
.attribution a {
    color: var(--clr-white);
}